.mixin-center {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
}
.reg {
  display: flex;
  justify-content: center;
}
.form-reg {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-login {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.message-area {
  width: 500px;
  margin-bottom: 5px;
}
#messagesList {
  margin-left: 20px;
}
.block {
  background-color: aliceblue;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 5px;
  max-height: 500px;
  height: 500px;
  overflow-y: auto;
}
.out {
  display: flex;
  align-items: center;
}
.out .link-out {
  display: flex;
  align-items: center;
}
.user {
  display: flex;
  align-items: center;
}
.block-user {
  background-color: aquamarine;
  align-items: center;
}
.btns {
  margin-left: 0px!important;
}
.friends {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}
.friends .friends-list {
  list-style: none;
  text-align: center;
}
.friends .item {
  border-top: 1px solid darkgreen;
  border-bottom: 1px solid darkgreen;
}
.friends .friend-link {
  text-decoration: none;
  float: right;
  margin-left: 10px;
}
.friends .write-friend {
  float: right;
  margin-left: 10px;
  text-decoration: none;
}
.friends .hidden {
  display: none;
}