body {
  background-color: darkslategray;
}
.mixin-center {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mixin-validation {
  color: red;
  display: flex;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
}
.reg {
  display: flex;
  justify-content: center;
}
.form-reg {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-login {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.message-area {
  width: 500px;
  margin-bottom: 5px;
}
#messagesList {
  margin-left: 20px;
}
.block {
  background-color: aliceblue;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 5px;
  max-height: 500px;
  height: 500px;
  overflow-y: auto;
}
.out {
  display: flex;
  align-items: center;
}
.out .link-out {
  display: flex;
  align-items: center;
}
.user {
  display: flex;
  align-items: center;
}
.block-user {
  background-color: aquamarine;
  align-items: center;
}
.btns {
  margin-left: 0px!important;
}
.friends {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}
.friends .friends-list {
  list-style: none;
  text-align: center;
}
.friends .item {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}
.friends .friend-link {
  text-decoration: none;
  float: right;
  margin-left: 10px;
}
.friends .write-friend {
  float: right;
  margin-left: 10px;
  text-decoration: none;
}
.hidden {
  display: none;
}
.validation-email {
  color: red;
  display: flex;
  justify-content: center;
}
.validation-login {
  color: red;
  display: flex;
  justify-content: center;
}
.validation-password {
  color: red;
  display: flex;
  justify-content: center;
}
.validation-fields-password {
  color: red;
  display: flex;
  justify-content: center;
}
.check-authorization {
  color: red;
  display: flex;
  justify-content: center;
}
.idCheckData {
  color: red;
  display: flex;
  justify-content: center;
}
.hide {
  display: none;
}
.show {
  display: flex;
}
.buttons {
  flex-flow: row-reverse;
  display: flex;
}