<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Чат</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<link href="~/css/MainStyles.css" rel="stylesheet" />
	<!-- Подключение фреймворка Vue -->
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div id="app" class="container">
		<div class="row block-user">
			<div class="user col-lg-4">
				<div id="username" style="margin-right: 10px;">

				</div>
				<div class="out">
					<a href="#" class="link-out">выйти</a>
					<div>&nbsp;</div>
					<input id="add-friend" type="search" class="form-control" placeholder="Введите никнейм друга" style="height: 20px!important; width: 250px;" v-on:keyup.enter="onAddFriend" />
				</div>
			</div>
			<div id="idFriendName" class="col-lg-8 text-center">{{nameFriend}}</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="friends">
					<ul id="select" class="friends-list">
						<li class="item" v-for="friend in friends">{{friend}} <a href="" v-on:click="onSelectFriend" class="write-friend">написать</a> <a href="#" class="friend-link">удалить</a></li>
					</ul>
				</div>
			</div>
			<div class="block col-lg-8">
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-6">
						<ul id="messagesList"></ul>
					</div>
				</div>
			</div>
		</div>
		<div class="message row">
			<div class="col-lg-4">&nbsp;</div>
			<div class="col-lg-8 area-message" style="padding-left: 0px!important;">
				<div class="row col-lg-6">
					<div><input class="message-area form-control" type="text" id="messageInput" placeholder="Введите сообщение" /></div>
				</div>
				<div class="row btns">
					<div>
						<input class="btn btn-primary btn-sm" type="button" id="sendButton" value="Отправить" v-on:click="onSendMessage" />
					</div>
					<div>&nbsp;</div>
					<div>
						<input class="btn btn-primary btn-sm" type="button" value="Прикрепить документ" />
					</div>
					<div>&nbsp;</div>
					<div>
						<input class="btn btn-primary btn-sm" type="button" value="Прикрепить аудиозапись" />
					</div>
				</div>
			</div>
		</div>
	</div>
	@*<script src="~/js/signalr/dist/browser/signalr.js"></script>*@
	<script src="~/js/Chat.js"></script>
	@*<script src="~/js/AuthClient.js"></script>*@
</body>
</html>