@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Авторизация пользователя</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/MainStyles.css" rel="stylesheet" />
    <!-- Подключение фреймворка Vue -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app" class="container reg">
        <div class="row">
            <form class="form-login">
                <div class="form-group">
                    <h3>Авторизация пользователя</h3>
                    <label id="idCheckAuthorization" class="text-center"></label>
                </div>
                <div class="form-group">
                    <label for="exampleInputLogin">Логин или email</label>
                    <input type="text" class="form-control" id="exampleInputLogin" aria-describedby="loginHelp" placeholder="Логин или email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword" placeholder="Пароль">
                </div>
                <input type="button" class="btn btn-primary" value="Войти" v-on:click="onSignIn" />
            </form>
        </div>
    </div>
    <script src="~/js/AuthClient.js"></script>
</body>
</html>