<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Главная</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/MainStyles.css" rel="stylesheet" />
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<!-- Подключение фреймворка Vue -->
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<script src="~/js/AuthClient.js"></script>
</body>
</html>