
@{
	ViewData["Title"] = "SuccessEmail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Подтверждение почты</title>
</head>
<body>
	<h1 class="text-center">Спасибо! Ваша почта подтверждена!</h1>
</body>
</html>

