// Миксин для выравнивания форм регистрации и авторизации
.mixin-center {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
*{
    margin: 0;
    padding: 0;
}
// Центрирование контейнера
.reg {
    display: flex;
    justify-content: center;
}
// Форма регистрации
.form-reg {
    .mixin-center();
}
// Форма авторизации
.form-login {
    .mixin-center();
}
.message-area {
    width: 500px;
    margin-bottom: 5px;
}
#messagesList {
    margin-left: 20px;
}
.block {
    background-color: aliceblue;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    margin-bottom: 5px;
    max-height: 550px;
    height: 550px;
    overflow-y: auto;
}
